<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<connectionStrings>

		<add name="ShoppingDatabase"
			 providerName="Microsoft.Data.SqlClient"
			 connectionString="Data Source=751FJW2\SQLEXPRESS;Initial Catalog=ShoppingDatabase;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>

</configuration>
